
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/404.css"/>
</head>
@*<body style="background-image: url('../wwwroot/images/2018-06-03-1.png')" >*@
<body background="https://u9u3z2m9.stackpathcdn.com/wp-content/uploads/2017/12/404-error-page-background-1.png" >
</body>
</html>
