@model ChangePasswordModel

<form asp-area="Identity" asp-page="/Account/Manage/ChangePassword" method="post">
    <div class="d-flex flex-column flex-lg-row align-items-stretch">
        <div class="flex-md-grow-1 bg-primary-light">
            <div class="form-inner">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.OldPassword"></label>
                    <input asp-for="Input.OldPassword" class="form-control" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.NewPassword"></label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="d-flex flex-column flex-md-row mt-25">
                    <div class="flex-shrink-0">
                        <button type="submit" class="btn btn-primary btn-wide">Update Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>