<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title Of Site -->
    <title>GiJalan</title>
    <meta name="description" content="Tour and Travel Bootstrap 4 HTML Template" />
    <meta name="keywords" content="tour, tour agency, tour operator, tour package, tourism, travel, travel agency, trip, vacation, holiday, travel booking, tour booking, booking, " />
    <meta name="author" content="crenoveative">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fav and Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/images/ico/favicon.png">

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet" type="text/css">
    <link href="~/font-faces/metropolis/metropolis.css" rel="stylesheet" type="text/css">

    <link href="~/css/font-icons.css" rel="stylesheet" type="text/css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/main.css" rel="stylesheet" type="text/css">
    <link href="~/css/plugin.css" rel="stylesheet" type="text/css">

    <link href="~/css/style.css" rel="stylesheet" type="text/css">

    <link href="~/css/your-style.css" rel="stylesheet" type="text/css">
</head>
<body class="with-waypoint-sticky">
    <div class="body-inner">
        <!-- Header start -->
        <header id="header-waypoint-sticky" class="header-main header-mobile-menu with-absolute-navbar">
            <div class="header-outer clearfix">
                <div class="header-inner">
                    <div class="row shrink-auto-lg gap-0 align-items-center">
                        <div class="col-5 col-shrink">
                            <div class="col-inner">
                                <div class="main-logo">
                                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="images" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 col-shrink order-last-lg">
                            <div class="col-inner">
                                <ul class="nav-mini-right">
                                    <partial name="_LoginPartial" />
                                    <li class="d-block d-sm-none">
                                        <a href="#loginFormTabInModal-register" data-toggle="modal" data-target="#loginFormTabInModal" data-backdrop="static" data-keyboard="false">
                                            Login / Register
                                        </a>
                                    </li>
                                    <li>
                                        <button class="btn btn-toggle collapsed" data-toggle="collapse" data-target="#mobileMenu"></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-auto">
                            <div class="navbar-wrapper">
                                <div class="navbar navbar-expand-lg">
                                    <div id="mobileMenu" class="collapse navbar-collapse">
                                        <nav class="main-nav-menu main-menu-nav navbar-arrow">
                                            <ul class="main-nav">
                                                <li>
                                                    <a asp-area="" asp-controller="Home" asp-action="Index"><span class="icon-font"><i class="elegent-icon-house_alt"></i></span> Home</a>
                                                </li>
                                                @if (User.IsInRole("Administrator"))
                                                {
                                                    <li>
                                                        <a href="#">Manage</a>
                                                        <ul>
                                                            <li><a asp-area="BarMagician" asp-controller="Bars" asp-action="Create">Create Bar</a></li>
                                                            <li><a asp-area="BarMagician" asp-controller="Cocktails" asp-action="Create">Create Cocktail</a></li>
                                                            <li><a asp-area="BarMagician" asp-controller="Ingredients" asp-action="Create">Create Ingredients</a></li>
                                                        </ul>
                                                    </li>
                                                }
                                                <li>
                                                    <a href="javascript:void(0)">Catalogs</a>
                                                    <ul>
                                                        <li><a asp-area="" asp-controller="Home" asp-action="BarCatalog"> All Bars</a></li>
                                                        <li><a asp-area="" asp-controller="Home" asp-action="CocktailCatalog"> All Cocktails</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Pages</a>
                                                    <ul>
                                                        <li><a asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                                                        <li><a href="service.html">Service</a></li>
                                                        <li><a href="service-single.html">Service Single</a></li>
                                                        <li><a href="faq.html">FAQ</a></li>
                                                        <li><a asp-controller="Home" asp-action="Privacy">Privacy and Term</a></li>
                                                        <li><a href="error-404.html">Error 404</a></li>
                                                        <li><a href="dashboard.html">Dashboard</a></li>
                                                        <li>
                                                            <a href="javascript:void(0)">Shortcode</a>
                                                            <ul>
                                                                <li><a href="shortcode-typography.html">Typography</a></li>
                                                                <li><a href="shortcode-element.html">Element</a></li>
                                                                <li><a href="shortcode-layout-fullwidth.html">Layout Fullwidth</a></li>
                                                                <li><a href="shortcode-layout-left-sidebar.html">Layout Left Sidebar</a></li>
                                                                <li><a href="shortcode-layout-right-sidebar.html">Layout Right Sidebar</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Search" asp-action="Search">Search</a>
                                                </li>
                                                <li><a href="contact-us.html">Contact us</a></li>
                                            </ul>
                                        </nav><!--/.nav-collapse -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header end -->
        <!-- Image and Search Bar start -->
        <div class="hero-banner hero-banner-01 overlay-light opacity-2 overlay-relative overlay-gradient gradient-white alt-option-03" style="background-image:url('https://s3-ap-southeast-2.amazonaws.com/est-web/Maybe-Sammy-5.jpg'); background-position: top center;">
            <div class="hero-inner">
                <div class="container">
                    <h1 class="text-danger">Co<span class="font200">cktail <span class="font700">Ma</span>gician </span></h1>
                </div>
            </div>
        </div>
        <!-- Image and Search Bar end -->
        <section>
            <div class="container">
                @RenderBody()
            </div>
        </section>
        <!--Footer start -->
        <footer class="footer-wrapper light scrollspy-footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row shrink-auto-md align-items-lg-center gap-10">
                        <div class="col-12 col-shrink order-last-md">
                            <div class="col-inner">
                                <div class="footer-dropdowns">
                                    <div class="row shrink-auto gap-30 align-items-center">
                                        <div class="col-auto">
                                            <div class="col-inner">
                                                <div class="dropdown dropdown-smooth-01 dropdown-language">
                                                    <a href="#" class="btn btn-text-inherit btn-interactive" id="dropdownLangauge" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="image"><img src="~/font-icons/flaticon-flags-4/png/260-united-kingdom.png" alt="image" /></span> English
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownLangauge">
                                                        <div class="dropdown-menu-inner">
                                                            <a class="dropdown-item" href="#"><span class="image"><img src="~/font-icons/flaticon-flags-4/png/260-united-kingdom.png" alt="image" /></span>English</a>
                                                            <a class="dropdown-item" href="#"><span class="image"><img src="~/font-icons/flaticon-flags-4/png/013-italy.png" alt="image" /></span>Italiano</a>
                                                            <a class="dropdown-item" href="#"><span class="image"><img src="~/font-icons/flaticon-flags-4/png/063-japan.png" alt="image" /></span>日本語</a>
                                                            <a class="dropdown-item" href="#"><span class="image"><img src="~/font-icons/flaticon-flags-4/png/162-germany.png" alt="image" /></span>Deutsch</a>
                                                            <a class="dropdown-item" href="#"><span class="image"><img src="~/font-icons/flaticon-flags-4/png/218-turkey.png" alt="image" /></span>Türkçe</a>
                                                            <a class="dropdown-item" href="#"><span class="image"><img src="~/font-icons/flaticon-flags-4/png/238-thailand.png" alt="image" /></span>ภาษาไทย</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-shrink">
                                            <div class="col-inner">
                                                <div class="dropdown dropdown-smooth-01 dropdown-currency">
                                                    <a href="#" class="btn btn-text-inherit btn-interactive" id="dropdownCurrency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="icon-font"><i class="oi oi-dollar text-primary mr-5"></i></span> US dollar
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownCurrency">
                                                        <div class="dropdown-menu-inner">
                                                            <a class="dropdown-item" href="#"><span class="icon-font"><i class="oi oi-dollar text-primary mr-10"></i></span>US Dollar</a>
                                                            <a class="dropdown-item" href="#"><span class="icon-font"><i class="oi oi-british-pound text-primary mr-10"></i></span>UK Pound</a>
                                                            <a class="dropdown-item" href="#"><span class="icon-font"><i class="oi oi-euro text-primary mr-10"></i></span>EU Euro</a>
                                                            <a class="dropdown-item" href="#"><span class="icon-font"><i class="oi oi-yen text-primary mr-10"></i></span>JP Yen</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-auto">
                            <div class="col-inner">
                                <ul class="footer-contact-list">
                                    <li>
                                        <span class="icon-font text-primary inline-block-middle mr-5 font16"><i class="fa fa-phone"></i></span> <span class="font700 text-black">1 2258 2554 00</span> <span class="text-muted">Mon-Fri | 8.30am-6:30pm</span>
                                    </li>
                                    <li>
                                        <span class="icon-font text-primary inline-block-middle mr-5 font16"><i class="fa fa-envelope"></i></span> <span class="font700 text-black">support@gmail.com</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <hr class="opacity-7" />
                </div>
            </div>

            <div class="main-footer">
                <div class="container">
                    <div class="row gap-50">
                        <div class="col-12 col-lg-5">

                            <p class="mt-20">Excited him now natural saw passage offices you minuter. At by asked being court hopes. Farther so friends am to detract. Forbade concern do private be. Offending residence but men engrossed shy.</p>
                            <a href="#" class="text-capitalize font14 h6 line-1 mb-0 font500 mt-30">read more <i class="elegent-icon-arrow_right font18 inline-block-middle"></i></a>

                        </div>

                        <div class="col-12 col-lg-7">
                            <div class="col-inner">
                                <div class="row shrink-auto-sm gap-30">
                                    <div class="col-6 col-shrink">
                                        <div class="col-inner">
                                            <h5 class="footer-title">About company</h5>
                                            <ul class="footer-menu-list set-width">
                                                <li><a href="#">Who we are</a></li>
                                                <li><a href="#">Careers</a></li>
                                                <li><a href="#">Company history</a></li>
                                                <li><a href="#">Legal</a></li>
                                                <li><a href="#">Partners</a></li>
                                                <li><a href="#">Privacy notice</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-6 col-shrink">
                                        <div class="col-inner">
                                            <h5 class="footer-title">Customer Service</h5>
                                            <ul class="footer-menu-list set-width">
                                                <li><a href="#">Payment</a></li>
                                                <li><a href="#">Feedback</a></li>
                                                <li><a href="#">Contact us</a></li>
                                                <li><a href="#">Our Service</a></li>
                                                <li><a href="#">FAQ</a></li>
                                                <li><a href="#">Site map</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-12 col-auto">
                                        <div class="col-inner">
                                            <h5 class="footer-title">Newsletter &amp; Social</h5>
                                            <p class="font12">Savings her pleased are several started females met. Short her not among being any.</p>
                                            <form class="footer-newsletter mt-20">
                                                <div class="input-group">
                                                    <input type="email" class="form-control" placeholder="Email address">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary" type="button"><i class="far fa-envelope"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="footer-socials mt-20">
                                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                                <a href="#"><i class="fab fa-twitter-square"></i></a>
                                                <a href="#"><i class="fab fa-google-plus-square"></i></a>
                                                <a href="#"><i class="fab fa-pinterest-square"></i></a>
                                                <a href="#"><i class="fab fa-flickr"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-footer">
                <div class="container">
                    <div class="row shrink-auto-md gap-10 gap-40-lg">
                        <div class="col-auto">
                            <div class="col-inner">
                                <ul class="footer-menu-list-02">
                                    <li><a href="#">Cookies</a></li>
                                    <li><a href="#">Policies</a></li>
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">Blogs</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-shrink">
                            <div class="col-inner">
                                <p class="footer-copy-right"> &#169; 2005 – 2018 <span class="text-primary">MyCompany Ltd.,</span> All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Footer start -->
    </div>

    <!-- Login, Register, Logout floating buttons start -->
    <div class="modal fade modal-with-tabs form-login-modal" id="loginFormTabInModal" aria-labelledby="modalWIthTabsLabel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content shadow-lg">

                <nav class="d-none">
                    <ul class="nav external-link-navs clearfix">
                        <li><a class="active" data-toggle="tab" href="#loginFormTabInModal-login">Sign-in</a></li>
                        <li><a data-toggle="tab" href="#loginFormTabInModal-register">Register </a></li>
                        <li><a data-toggle="tab" href="#loginFormTabInModal-forgot-pass">Forgot Password </a></li>
                    </ul>
                </nav>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="loginFormTabInModal-login">
                        <div class="form-login">

                            <div class="form-header">
                                <h4>Welcome Back to SiteName</h4>
                                <p>Sign in to your account to continue using SiteName</p>
                            </div>

                            <div class="form-body">
                                @await Html.PartialAsync("_LoginViewPartial", new LoginModel())
                            </div>
                            <div class="form-footer">
                                <p>Not a member yet? <a href="#loginFormTabInModal-register" class="tab-external-link font600">Sign up</a> for free</p>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade in" id="loginFormTabInModal-register">
                        <div class="form-login">
                            <div class="form-header">
                                <h4>Join SiteName for Free</h4>
                                <p>Access thousands of online classes in design, business, and more!</p>
                            </div>

                            <div class="form-body">
                                @await Html.PartialAsync("_RegisterViewPartial", new RegisterModel())
                            </div>

                            <div class="form-footer">
                                <p>Already a member? <a href="#loginFormTabInModal-login" class="tab-external-link font600">Sign in</a></p>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade in" id="loginFormTabInModal-forgot-pass">
                        <div class="form-login">
                            <div class="form-header">
                                <h4>Lost your password?</h4>
                                <p>Please provide your detail.</p>
                            </div>

                            <div class="form-body">
                                <form method="post" action="#">
                                    <p class="line-145">We'll send password reset instructions to the email address associated with your account.</p>
                                    <div class="row">
                                        <div class="col-12 col-md-10 col-lg-8">
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="password" />
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary mt-5">Retreive password</button>
                                </form>
                            </div>

                            <div class="form-footer">
                                <p>Back to <a href="#loginFormTabInModal-login" class="tab-external-link font600">Sign in</a> or <a href="#loginFormTabInModal-register" class="tab-external-link font600">Sign up</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center pb-20">
                    <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                        <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Login, Register, Logout floating buttons end -->

    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return to top" data-toggle="tooltip" data-placement="left"><i class="elegent-icon-arrow_carrot-up"></i></a>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
    </script>
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/custom-core.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>