@using Microsoft.AspNetCore.Identity
@using Cocktail_Magician_Services.Contracts
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IAdditionalUserManager AdditionalUserManager

@if (SignInManager.IsSignedIn(User))
{
    <nav class="main-nav-menu main-menu-nav navbar-arrow">
        <ul class="main-nav">

            <li>
                <a href="#">HELLO, @User.Identity.Name!</a>
                <ul>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
                    </li>
                    <li>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="btn btn-outline-danger">LOGOUT </button>
                        </form>
                    </li>

                </ul>
            </li>
            <li>
                <img class="image-circle" src="@AdditionalUserManager.GetUsersPicture(User.FindFirstValue(ClaimTypes.NameIdentifier))" style="height:40px; width:40px" />
            </li>
        </ul>
    </nav>
}
else
{
    <li class="d-none d-sm-block">
        <a href="#loginFormTabInModal-login" data-toggle="modal" data-target="#loginFormTabInModal" data-backdrop="static" data-keyboard="false" class="mr-5">
            <span class="icon-font"><i class="icon-login"></i></span> LOGIN
        </a>
    </li>
    <li class="d-none d-sm-block">
        <a href="#loginFormTabInModal-register" data-toggle="modal" data-target="#loginFormTabInModal" data-backdrop="static" data-keyboard="false">
            <span class="icon-font"><i class="icon-user-follow"></i></span> REGISTER
        </a>
    </li>
}
