@model CreateReviewViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-area="BarCrower" asp-controller="Cocktails" asp-action="Review" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" value="@Model.Id" hidden />
            <input asp-for="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" hidden />

            <div class="form-group">
                <fieldset class="rating__stars">
                    <input type="radio" id="star5" asp-for="Rate" name="Rate" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" asp-for="Rate" name="Rate" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" asp-for="Rate" name="Rate" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" asp-for="Rate" name="Rate" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" asp-for="Rate" name="Rate" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" asp-for="Rate" name="Rate" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" asp-for="Rate" name="Rate" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" asp-for="Rate" name="Rate" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" asp-for="Rate" name="Rate" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" asp-for="Rate" name="Rate" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <br />
                <br />
                <label asp-for="Comment" class="control-label">Message </label>
                <textarea asp-for="Comment" rows="8" cols="100" maxlength="500"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
                <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    </div>
</div>
